<!-- Cards Mesas -->

<section class="container-fluid m-2 mx-auto">
    <div class="row">
        <div id="div-btn-adc-mesa" class="col-3">
            <button class="btn btn-dark" type="button" id="btn-gerenciar-mesas" data-bs-toggle="modal"
                data-bs-target="#modal_gerenciar_mesas">
                Gerenciar Mesas
            </button>
        </div>
        <div id="div-btn-adc-mesa" class="col-3">
            <button type="button" class="btn btn-dark" id="btn-adc-comanda" data-bs-toggle="modal"
                data-bs-target="#modal_nova_comanda">
                Novo Pedido
            </button>
        </div>
    </div>

    <!-- Linha do card -->
    <div class="row" id="card-deck">
        {loop="$mesasExibidas"}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-2 p-2 d-inline">
            <div class="card h-100">
                <div class="card-header">
                    <h5 class="card-title">Mesa {$value.idmesa}</h5>
                </div>
                <div class="card-body">
                    <!-- Comandas da mesa / accordion -->
                    {$id_mesa=$value.idmesa}
                    <div class="accordion m-2" id="accordion_mesa_{$id_mesa}">
                        {loop="$value.comandas"}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="comanda_{$value.idcomanda}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse_comanda_{$value.idcomanda}" aria-expanded="false"
                                    aria-controls="collapse_comanda_{$value.idcomanda}">
                                    Pedido Nº {$value.idcomanda}
                                </button>
                            </h2>
                            <div id="collapse_comanda_{$value.idcomanda}" class="accordion-collapse collapse"
                                aria-labelledby="comanda_{$value.idcomanda}"
                                data-bs-parent="#accordion_mesa_{$id_mesa}">
                                <div class="accordion-body">
                                    <div class="table">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Produto</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {loop="$value.produtoscomanda"}
                                                <tr>
                                                    <td>{$value.nomeproduto}</td>
                                                    <td>R$ {function="formatPrice($value.vlfinalproduto)"}</td>
                                                </tr>                                                    
                                                {/loop}
                                            </tbody>
                                            <tfoot class="bg-light">
                                                <tr>
                                                    <th>Total</th>
                                                    <td>R$ {function="formatPrice($value.valortotal)"}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-center ">
                                            <button type="button" class="btn btn-dark"
                                                id="btn-gerenciar-comanda-{$value.idcomanda}" data-bs-toggle="modal"
                                                data-bs-target="#modal_editar_comanda_{$value.idcomanda}">
                                                Gerenciar Pedido {$value.idcomanda}
                                            </button>
                                        </div>
                                        <div class="col-6 text-center">
                                            <span class="">
                                                <a href="/comanda/print/idcomanda"><i
                                                        class="text-dark fa-solid fa-2x fa-print"></i> </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/loop}
                    </div>

                    <div class="container text-center col-xxs-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                           <a href="/removerMesa/{$value.idmesa}">
                                <button type="button" class="btn btn-secondary w-100">
                                    Ocultar Mesa
                                </button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
        {/loop}
    </div>
</section>


{include="modal-nova-comanda"}

{include="modal-editar-comanda"}

{include="modal-gerenciar-mesas"}