<!-- Modal - Lancamento da comanda -->
<div class="modal fade" id="modal_nova_comanda" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form_principal" action="/novaComanda" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nova Comanda</h5>
                    <button type="button" class="btn btn-dark mx-auto w-50">
                        <i class="fa-solid fa-2x fa-print"></i>
                    </button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input class="form-control mb-4 nome_cliente_nova_comanda" type="text" name="nomecliente"
                        placeholder="Nome do cliente">

                    <select class="form-control mb-4 select_mesa_nova_comanda" name="idmesacomanda">
                        <option value="mesa" disabled selected>Mesa</option>
                        <option value="0">Nenhuma</option>
                        {loop="$todasMesas"}
                        <option name="{$value.idmesa}" value="{$value.idmesa}">{$value.idmesa}
                        </option>
                        {/loop}
                    </select>

                    <select class="form-control mb-4 select_atendente_nova_comanda" name="idatendente">
                        <option value="atendente" disabled selected>Atendente</option>
                        <option value="0">Nenhum</option>
                        {loop="$atendentes"}
                        <option name="{$value.idatendente}" value="{$value.idatendente}">{$value.nomeatendente}
                        </option>
                        {/loop}
                    </select>
                    <!-- Exibe produtos já lancados -->
                    <div class="table">
                        <table class="table table-striped" id="tabela_produtos_lancados_na_comanda" hidden>
                            <thead>
                                <tr>
                                    <th class="text-center">Produto</th>
                                    <th class="text-center">Valor</th>
                                    <th class="text-center">Excluir</th>
                                </tr>
                            </thead>
                            <tbody id="body_tabela_produtos_lancados_na_comanda">

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center" colspan="2">Total:</th>
                                    <th id="valor_total_comanda"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <!-- Seleciona o produto desejado -->
                    <div class="row">
                        <div class="col-8">
                            <select class="form-control select_tipo_produto_comanda">
                                <option value="tipo" id="option_tipo" disabled selected>Tipo de Produto</option>
                                <option value="todos">Todos</option>
                                {loop="$tipos"}
                                <option value="{$value.idtipo}">{$value.nometipo}</option>
                                {/loop}
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        </button>
                        <div class="col-12">
                            <select class="select_produto_comanda form-control">
                                <option value="produto" disabled selected>Selecione o tipo de produto</option>
                            </select>
                        </div>
                    </div>

                    <!-- Tabela de ingredientes -->
                    <div class="row mt-2">
                        <div class="table-responsive" >
                            <table class="table table-light table-hover" id="tabela_ingredientes_comanda" hidden>
                                <thead>
                                    <tr>
                                        <th>Ingrediente</th>
                                        <th>Qtd</th>
                                        <th class="text-center">Adicionar</th>
                                        <th class="text-center">Remover</th>
                                        <th>Valor adc</th>
                                    </tr>
                                </thead>
                                <tbody id="body_tabela_ingredientes_produto">
                                    
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="3" class="text-center">Valor</th>
                                        <th colspan="2" class="text-center">
                                            <input type="number" step="0.01" name="valortotal" id="valortotal"
                                                class="form-control" hidden >
                                            <input id="valortotal_exibido" class="form-control" disabled >
                                        </th>
                                    </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="row m-3">
                    <button id="salva_produto_comanda"
                        class="btn btn-dark col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mx-auto">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="w-100 btn btn-dark" data-bs-dismiss="modal" id="salva_comanda">
                        <i class="fa-solid fa-save"></i> Salvar
                    </button>

                    <button type="button" class="w-100 btn btn-warning" data-bs-dismiss="modal">
                        Cancelar
                    </button>


                    <button type="button" class="w-100 btn btn-success">
                        Encerrar Comanda
                    </button>

                </div>
            </form>
        </div>
    </div>

</div>
</div>
</div>