{loop="$atendentes"}
<div class="modal fade" id="modalEditarAtendente{$value.idatendente}" tabindex="-1" aria-labelledby="modalEditarAtendente{$value.idatendente}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalEditarAtendente{$value.idatendente}Label">Alterar Atendente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/editarAtendente/{$value.idatendente}">
                <div class="modal-body">
                    <label for="nomeatendente">
                        Nome: 
                    </label>
                    <input type="text" class="form-control" name="nomeatendente" id="nomeatendente"
                        value="{$value.nomeatendente}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i
                            class="fa-solid fa-xmark"></i></button>
                    <button type="submit" class="btn btn-dark">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/loop}